In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/unconv.csv")

In [3]:
df

     Well    Por  Perm    AI  Brittle   TOC    VR         Prod
0       1  12.08  2.92  2.80    81.40  1.16  2.31  4165.196191
1       2  12.38  3.53  3.22    46.17  0.89  1.88  3561.146205
2       3  14.02  2.59  4.01    72.80  0.89  2.72  4284.348574
3       4  17.67  6.75  2.63    39.81  1.08  1.88  5098.680869
4       5  17.52  4.57  3.18    10.94  1.51  1.90  3406.132832
..    ...    ...   ...   ...      ...   ...   ...          ...
195   196  11.95  3.13  2.97    67.18  0.80  2.06  3847.571003
196   197  17.99  9.87  3.38    44.32  0.98  2.08  5601.227131
197   198  12.12  2.27  3.52    57.07 -0.04  1.73  3409.575363
198   199  15.55  4.48  2.48    58.25  1.89  2.35  5087.592149
199   200  20.89  7.54  3.23    46.17  1.71  2.27  6662.622385

[200 rows x 8 columns]