In [40]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# Загрузка данных

In [41]:
%%capture
!wget https://www.dropbox.com/s/64ol9q9ssggz6f1/data_ford_price.xlsx

In [42]:
data = pd.read_excel('data/data_ford_price.xlsx')

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7017 entries, 0 to 7016
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         7017 non-null   int64
 1   year          7017 non-null   int64
 2   condition     7017 non-null   int64
 3   cylinders     7017 non-null   int64
 4   odometer      7017 non-null   int64
 5   title_status  7017 non-null   object
 6   transmission  7017 non-null   object
 7   drive         6626 non-null   object
 8   size          5453 non-null   object
 9   lat           7017 non-null   float64
 10  long          7017 non-null   float64
 11  weather       6837 non-null   float64
dtypes: float64(3), int64(5), object(4)
memory usage: 658.0+ KB

In [44]:
y = data['price']
X = data.drop(columns='price')

# Предобработка

In [45]:
#lr = LinearRegression()
#lr.fit(X,y)

_______________________
Сторонний пример

In [46]:
from sklearn.preprocessing  import LabelBinarizer
 
lb = LabelBinarizer()
 
education = ['нет', 'начальное', 'среднее', 'BSc', 'MSc', 'начальное', 'PhD']
lb.fit(education)
 
print('категории:', lb.classes_) 
lb.transform(['нет', 'MSc'])

категории: ['BSc' 'MSc' 'PhD' 'начальное' 'нет' 'среднее']

array([[0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0]])

___________________________________

In [47]:
columns_to_change = ['cylinders', 'title_status', 'transmission', 'drive', 'size']
 
for column in columns_to_change:
 print('Число уникальных значений призкака {}: '.format(column), data[column].nunique())

Число уникальных значений призкака cylinders:  6
Число уникальных значений призкака title_status:  5
Число уникальных значений призкака transmission:  3
Число уникальных значений призкака drive:  3
Число уникальных значений призкака size:  4

In [48]:
from sklearn.preprocessing import OneHotEncoder
 
one_hot_encoder = OneHotEncoder()
 
# 'учим' и сразу применяем преобразование к выборке, результат переводим в массив
data_onehot = one_hot_encoder.fit_transform(data[columns_to_change]).toarray() 
# запишем полученные названия новых колонок в отдельную переменную
column_names = one_hot_encoder.get_feature_names_out(columns_to_change)
print(column_names)

['cylinders_3' 'cylinders_4' 'cylinders_5' 'cylinders_6' 'cylinders_8'
 'cylinders_10' 'title_status_clean' 'title_status_lien'
 'title_status_missing' 'title_status_rebuilt' 'title_status_salvage'
 'transmission_automatic' 'transmission_manual' 'transmission_other'
 'drive_4wd' 'drive_fwd' 'drive_rwd' 'drive_nan' 'size_compact'
 'size_full-size' 'size_mid-size' 'size_sub-compact' 'size_nan']

In [49]:
df_encoded = pd.get_dummies(data, columns=columns_to_change)

In [50]:
import pandas as pd

df_encoded = pd.DataFrame(df_encoded, columns=column_names)

In [51]:
import pandas as pd

# Соединяем таблицы по столбцам
data_new = pd.concat([data, df_encoded], axis=1)

In [52]:
data_new

,price,year,condition,cylinders,odometer,title_status,transmission,drive,size,lat,...,transmission_other,drive_4wd,drive_fwd,drive_rwd,drive_nan,size_compact,size_full-size,size_mid-size,size_sub-compact,size_nan
0,43900,2016,4,6,43500,clean,automatic,4wd,full-size,36.471500,...,False,True,False,False,NaN,False,True,False,False,NaN
1,15490,2009,2,8,98131,clean,automatic,4wd,full-size,40.468826,...,False,True,False,False,NaN,False,True,False,False,NaN
2,2495,2002,2,8,201803,clean,automatic,4wd,full-size,42.477134,...,False,True,False,False,NaN,False,True,False,False,NaN
3,1300,2000,1,8,170305,rebuilt,automatic,4wd,full-size,40.764373,...,False,True,False,False,NaN,False,True,False,False,NaN
4,13865,2010,3,8,166062,clean,automatic,4wd,NaN,49.210949,...,False,True,False,False,NaN,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7012,22500,2015,3,6,23500,clean,automatic,rwd,full-size,32.680700,...,False,False,False,True,NaN,False,True,False,False,NaN
7013,5975,2005,2,8,0,clean,automatic,rwd,full-size,38.213303,...,False,False,False,True,NaN,False,True,False,False,NaN
7014,9999,2006,3,8,161514,clean,automatic,NaN,full-size,37.609783,...,False,False,False,False,NaN,False,True,False,False,NaN
7015,10900,2011,2,8,164000,clean,automatic,4wd,full-size,43.140600,...,False,True,False,False,NaN,False,True,False,False,NaN
7016,18000,2010,2,8,104000,clean,automatic,4wd,full-size,37.987200,...,False,True,False,False,NaN,False,True,False,False,NaN

In [53]:
# Удаляем закодированные столбцы из data_new
data_new = data_new.drop(columns=columns_to_change)

In [54]:
shape = data_new.shape
print("Форма полученной таблицы:", shape)

Форма полученной таблицы: (7017, 30)